/P1/.idea/copyright/profiles_settings.xml
/P1/.idea/misc.xml
/P1/.idea/workspace.xml
/.DS_Store
/.metadata/.lock
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/60ede29e974400141a0aa8407f5d05bf
/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica1/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Practica1/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
/.metadata/.plugins/org.eclipse.jdt.core/1334774838.index
/.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
/.metadata/.plugins/org.eclipse.jdt.core/156905802.index
/.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
/.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
/.metadata/.plugins/org.eclipse.jdt.core/2326659272.index
/.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
/.metadata/.plugins/org.eclipse.jdt.core/272178059.index
/.metadata/.plugins/org.eclipse.jdt.core/3000285004.index
/.metadata/.plugins/org.eclipse.jdt.core/3004609673.index
/.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
/.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
/.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
/.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
/.metadata/.plugins/org.eclipse.jdt.core/3954040986.index
/.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
/.metadata/.plugins/org.eclipse.jdt.core/4249315662.index
/.metadata/.plugins/org.eclipse.jdt.core/450555687.index
/.metadata/.plugins/org.eclipse.jdt.core/765977872.index
/.metadata/.plugins/org.eclipse.jdt.core/770573466.index
/.metadata/.plugins/org.eclipse.jdt.core/84777399.index
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/version.ini
/P1/.DS_Store